WebserviceDemo/src/main/xsd/book.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.informit.com/book"
           xmlns="http://www.informit.com/book"
           elementFormDefault="qualified">

    <!--
      Defines a very simple book
      -->
    <xs:element name="book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string" minOccurs="0"/>
                <xs:element name="author" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>